@import "tailwindcss";

html,
body,
#root {
  background: transparent;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI",
    Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}
